@import "tailwindcss";

@theme {
  --color-blue-1: #99c1de;
  --color-blue-2: #bcd4e6;
  --color-blue-3: #d6e2e9;
  --color-blue-dark: #073e66;
  --color-blue-dark-2: #83b6da;
  --color-light-gray: #f0efeb;
  --color-dark-gray: #838383;
  --color-teal-1: #c5dedd;
  --color-teal-2: #dbe7e4;
  --color-tan-1: #eddcd2;
  --color-tan-2: #fff1e6;
  --color-tan-dark: #986119;
  --color-red-1: #f28482;
  --color-red-2: #f5cac3;
  --color-red-dark: #ec706d;
  --color-black: #161616;
  --color-white: white;
  --font-text: "Noto Sans";
  --font-subtitle: "Micro 5";
  --font-display: "Borel";
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-explode-r: explode-r 1.25s ease-in;
  --animate-explode-l: explode-l 1.25s ease-in;

  @keyframes explode-l {
    0% {
      opacity: 100%;
    }
    80% {
      transform: rotate(-70deg) translateX(-100px) translateY(-50px);
      opacity: 0%;
    }
    81% {
      transform: rotate(0deg) translateX(0px) translateY(0px);
      opacity: 0%
    }
    100%{
      opacity: 100%;
    }
  }

  @keyframes explode-r {
    0% {
      opacity: 100%;
    }
    80% {
      transform: rotate(70deg) translateX(100px) translateY(-50px);
      opacity: 0%;
    }
    81% {
      transform: rotate(0deg) translateX(0px) translateY(0px);
      opacity: 0%
    }
    100%{
      opacity: 100%;
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    75% {
      transform: rotate(-1deg);
    }
  }
}

@layer base {
  div {
    @apply text-stone-700 font-light font-text ;
  }

  h1 {
    @apply pt-4 text-4xl font-bold font-display text-blue-dark-2;
  }

  h2 {
    @apply text-3xl font-subtitle text-stone-600;
  }

  h3 {
    @apply text-lg;
  }

  a {
    @apply cursor-pointer hover:underline;
  }
}

@layer components {
  .full-btn-blue {
    @apply bg-blue-1 text-sm px-4 py-1 h-fit rounded-full text-white outline outline-transparent cursor-pointer hover:outline-2 hover:outline-offset-2 hover:outline-blue-2 hover:bg-blue-2 active:bg-blue-dark-2 disabled:bg-dark-gray/30 disabled:pointer-events-none;
  }

  .full-btn-red {
    @apply bg-red-1 text-sm px-4 py-1 h-fit rounded-full text-white outline outline-transparent cursor-pointer hover:outline-2 hover:outline-offset-2 hover:outline-red-2 hover:bg-red-2 active:bg-red-dark disabled:bg-dark-gray/30 disabled:pointer-events-none;
  }

  .full-btn-tan {
    @apply bg-tan-1 text-sm px-4 py-1 h-fit rounded-full text-tan-dark/80 outline outline-transparent cursor-pointer hover:outline-2 hover:outline-offset-2 hover:outline-tan-2 hover:bg-tan-2 active:bg-tan-dark/50 disabled:bg-dark-gray/30 disabled:pointer-events-none;
  }

  .placeholder-btn-tan {
    @apply border-2 border-tan-1 border-dashed text-tan-dark cursor-pointer hover:bg-tan-1/50 hover:border-solid active:bg-tan-2;
  }

  .input-txt {
    @apply my-1 pt-2 px-2 border-b-2 rounded-md outline-none resize-y w-full border-light-gray hover:bg-light-gray/25 hover:focus-within:bg-blue-3/50 hover:focus-within:border-blue-dark/50 focus-within:bg-blue-3/50 focus-within:border-blue-dark/50;
  }

  .input-trash {
    @apply h-full mx-2 size-4 text-red-1 cursor-pointer hover:text-red-2 active:text-red-dark;
  }

  .picker {
    @apply my-1 me-1 border-2 rounded-full w-1/3 px-2 outline-none border-light-gray hover:bg-light-gray/30 focus:bg-blue-3/50 focus:border-blue-dark/50;
  }

  .number-picker {
    @apply my-1 ps-2 me-1 border-b-2 border-light-gray outline-none rounded-md [&::-webkit-outer-spin-button]:opacity-100 [&::-webkit-inner-spin-button]:opacity-100 hover:bg-light-gray/25 focus:bg-blue-3/50 focus:border-blue-dark/50;
  }

  .paper {
    @apply bg-white p-16 shadow-lg relative border-tan-dark/20 border-2 before:border-tan-dark/20 before:border-2 before:shadow-md before:right-3 before:top-0 before:rotate-1 before:bg-tan-1 before:w-full before:h-full before:absolute before:-z-10 after:-right-4 after:-top-1 after:-rotate-1 after:bg-tan-2 after:w-full after:h-full after:absolute after:-z-10 after:border-tan-dark/20 after:border-2 after:shadow-md;
  }
}
